@import "../../assets/styles/colors";

.custom-button {
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 40px;
  background-color: $green;
  color: white;
  border: 2px solid $green;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    color: $green;
    background-color: white;
    border: 2px solid $green;
  }
}

@media (max-width: 900px) {
  .custom-button {
    &:hover {
      color: white;
      background-color: black;
    }
  }
}
