@import "../../assets/styles/colors";

.pricing {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;

  .title {
    text-align: center;
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .card-title {
      text-align: left;
      margin-bottom: 5px;

      h2,
      h3 {
        margin: 0;
      }
    }

    .subtitle {
      font-size: 18px;
      color: #555;
    }

    h2,
    h3 {
      margin: 0;
    }

    h2 {
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }
}
