.mobile-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 10vh;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px -10px 20px -5px rgba(0, 0, 0, 0.26);
  box-shadow: 0px -5px 20px -5px rgba(0, 0, 0, 0.2);

  .links {
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;

    width: 100%;

    .link {
      text-align: center;
      text-decoration: none;
      color: black;

      h3 {
        font-weight: 400;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
