.login-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 40vw;
    margin: auto;
    padding: 50px;
  }
}

@media (max-width: 900px) {
  .login-page .container {
    width: 80vw;
  }
}
