@import "../../assets/styles/colors";

.navigation {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  margin: auto;

  .logo {
    transform: rotateX(0deg);
    transition: transform 600ms linear;

    &:hover {
      transform: rotateX(360deg);
      transition: transform 600ms linear;
    }
  }

  .links {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .link {
    margin: 10px 10px;
    color: black;
    height: 100%;
    text-decoration: none;

    &:hover {
      color: $yellow;
    }
  }

  .button {
    margin: auto;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .navigation {
    padding: 0px 20px;
    justify-content: center;

    .logo {
      &:hover {
        transform: none;
      }
    }

    .links,
    .button {
      display: none;
    }
  }
}
