.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;

  .icons {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    a {
      color: white;
    }
  }
}
