@import '../../assets/styles/colors';

.footer {
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;

  .icons {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .heart {
      color: white;
    }
  }
}
