.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  min-height: 80vh;
  margin: auto;
  color: black;
}

@media (max-width: 900px) {
  .faq {
    width: 100vw;
  }
}
